/data/
slowfast_code/SlowFast/data/
slowfast_code/SlowFast/data/ava/model/


.idea/code.iml
.idea/deployment.xml
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml